html,
body {
  padding: 0;
  margin: 0;
  background-color: #3a1b30;
  font-family: sans-serif;
  color: whitesmoke;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
